#searchbtn01 {
    position: absolute;
    right: 0;
    width: 20%;
    height:10%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-style: none;
    border-color: blue;
}

#userbtn {
    margin: 10px;
    margin-right: 5px;
    margin-left: 15px;
}
#cartbtn {
    margin: 5px;
    margin-right: 10px;
}

#searchquery{
    width:70%
}
#searchsubmit{
    width:30%
}

#logoimg{
    position: absolute;
    left:45%;
    width: 10%;
    top:2.5%;
}

#hr1{
    position: absolute;
    top: 18%;
    width:100%;
    border: 1px solid black;
}

#registerbox {
    padding:20px;
    position:absolute;
    top:23%;
    left:30%;
    width:40%;
    height: 70%;
    border-style: none;
    border-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#inputid {
    width: 100%;
}

#inputpw {
    width: 100%
}
/**/
#inputname{
    margin-top: 100px;
}

#regform{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#text03 {
    font-weight:bold;
    font-size:25px;
    padding:20px;
}

#text04 {
    width: 100%;
    text-align: left;
    margin-top: 40px;
    font-weight:bold;
}

#container-box{
    width:100%;
    text-align: left;
}

#man{
    margin: 15px;
}

#regbtn{
    margin-top:50px;
    width:50%;
}
/**/
.input{
    width:100%;
}