body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    width: 600px;
    margin: 50px auto;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    background-color: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px 8px 0 0;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea, .form-group select {
    width: calc(100% - 20px);
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
}

.form-group textarea {
    resize: none;
    height: 150px;
}

.file-inputs {
    display: flex;
    justify-content: space-between;
}

.file-inputs input {
    width: calc(50% - 5px);
}

.submit-btn {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
}
