<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="logged_user=2">
    <!--<th:block th:with="logged_user=${#authentication.principal.user}">-->
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <link rel="stylesheet" th:href="@{/css/myCss.css}">
        <title>리뷰 작성</title>
    </head>
    <!--<th:block th:insert="~{common/header::header}"></th:block>-->
<body style="margin-bottom: 200px">
<div class="p-5 text-left">
    <a th:href="@{/mypage/detail}" class="col-1 col-sm-1" style="text-decoration: none; color: black;"><i class="fas fa-arrow-left fa-2x"></i></a>
</div>
<div class="container mt-3 p-5" th:if="${Goods}">
    <form th:action="@{/mypage/createReview}" class="p-5" method="post" enctype="multipart/form-data">
        <div>
            <span class="container-fluid col-lg-2 col-sm-2 col-2 py-3 text-center ms-5" style="width: 250px; height: 250px; float: left;">
            <img th:if="${Goods.image_1}" th:src="@{'/upload/' + ${Goods.image_1}}">
            <i th:unless="${Goods.image_1}" class="fas fa-tshirt fa-8x"></i>
            </span>
            <span class="container-fluid col-lg-6 col-sm-6 col-6 text-center ms-5" th:style="'float: left;'">
            <p>상품명: <b th:text="${Goods.name}"></b></p>
            <p th:if="${GoodsCount}">수량: <b th:text="${GoodsCount}"></b> 개</p>
            <p th:unless="${GoodsCount}">수량: <b th:text="'존재하지 않는 수량'"></b></p>
            <p th:if="${GoodsSize}">사이즈: <b th:text="${GoodsSize}"></b></p>
            <p th:unless="${GoodsSize}">사이즈: <b th:text="'존재하지 않는 사이즈'"></b></p>
            <p th:if="${GoodsColor}">색상: <b th:text="${GoodsColor}"></b></p>
            <p th:unless="${GoodsColor}">색상: <b th:text="'존재하지 않는 색상'"></b></p>
        </span>
        </div>
        <div th:style="'clear: both;'"></div>
        <br><br>
        <!-- 첨부파일 -->
        <div class="container mt-3 mb-3 text-center border rounded">
            <label th:class="'input-file-button'" th:for="'file'" style="width:200px;"><i class="fas fa-camera fa-1x"></i> 사진추가 + </label>
            <input type="file" th:id="'file'" th:name="'file'" class="btn btn-light" accept="image/jpeg, image/png, image/jpg" style="display: none; height: 50px; font-size: 20px"/>
            <div><span class="text-danger" th:if="${error_imageList}" th:utext="${error_imageList}"></span></div>
        </div>
        <div class="container border rounded">
            <br>
            <div id="mb-3 mt-3 files">

            </div>
        </div>
        <!-- 첨부파일 -->
        <br><br>
        <div class="my-3">
            <label for="content">내용:</label>
            <textarea class="form-control" rows="5" id="content" placeholder="내용을 입력하세요" name="content" th:utext="${content}"></textarea>
        </div>
        <div><span class="text-danger" th:if="${error_content}" th:utext="${error_content}"></span></div>
        <br><br><br><br>
        <button type="submit" id="btnAdd" class="btn" style="float: right">작성완료</button>
    </form>
</div>
<br><br><br><br><br><br><br><br>
</body>
</th:block>
</html>