<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>결제 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script type="text/javascript" src="/cho/js/prod/head.js"></script>
    <script type="text/javascript" src="/cho/js/prod/category.js"></script>
    <script type="text/javascript" src="/cho/js/prod/detail.js"></script>
    <script type="text/javascript" src="/cho/js/order/pay_request.js"></script>
    <link rel="stylesheet" href="/cho/css/order/order_form.css">
    <link rel="stylesheet" href="/cho/css/prod/category.css">
    <link rel="stylesheet" href="/cho/css/prod/head.css">
    <link rel="stylesheet" href="/cho/css/prod/detail.css">
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="~{/cho/prod/header :: head}"></div>
    <section class="shipping-info">
        <h2>배송지</h2>
        <div class="address-info">
            <p><strong>조창성</strong></p>
            <p>010-5625-2673 | 010-5625-2673</p>
            <p>서울 동작구 영등포로62다길 4-14 101호</p>
            <input type="text" placeholder="배송 시 요청사항을 선택해주세요">
        </div>
    </section>

    <section class="product-info">
        <h2>상품 정보</h2>

        <div class="product" th:each="o : ${itemList}">
            <div class="img">
                <img th:src="${o.goods.image}" alt="제품 이미지">
            </div>
            <div class="product-description">
                <p th:text="${o.goods.name}">페라어스 남성 삼색테잎 벨트 등산바지 OCPUWF8016M0</p>
                <p th:text="${o.opt}">옵션: XL</p>
                <p th:text="${o.amount}">수량: 1개</p>
                <p th:text="${o.goods.price}">34,500원</p>
            </div>
        </div>
    </section>
    <button type="button" class="checkout-button" onclick="requestPay()">결제하기</button>
    <form>
        <input type="hidden" name="pg" th:value="${order.pg}">
        <input type="hidden" name="payMethod" th:value="${order.pay_method}">
        <input type="hidden" name="mId" th:value="${order.merchantId}">
        <input type="hidden" name="mane" th:value="${order.name}">
        <input type="hidden" name="amount" th:value="${order.amount}">
        <input type="hidden" name="email" th:value="${order.email}">
        <input type="hidden" name="buyerName" th:value="${order.buyerName}">
        <input type="hidden" name="tel" th:value="${order.tel}">
        <input type="hidden" name="addr" th:value="${order.addr}">
    </form>
</div>
</body>

</html>
