<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <header class="header">
        <div class="menu">
            <a class="logoButton">LOGO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton home">HOME</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton post">게시글</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton" id="recent">최근 본 상품</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton" id="accButton">ACC</button>
        </div>
        <div class="container-3">
            <div class="container-1">
                <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>&nbsp;
                <input type="search" id="search" placeholder="Search..." />
            </div>
            <div class="container-2">
                <i name="menuIcon" class="fa-regular fa-user"></i>&nbsp;&nbsp;&nbsp;
                <i name="menuIcon" class="fa-solid fa-cart-plus"></i>
            </div>
        </div>
    </header>
    <hr>
</th:block>
</html>