<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <link rel="stylesheet" href="https://www.jsdelivr.com/package/npm/@fortawesome/fontawesome-free"/>
    <script type="text/javascript" src="/cho/js/prod/head.js"></script>
    <script type="text/javascript" src="/cho/js/prod/category.js"></script>
    <link rel="stylesheet" href="/cho/css/prod/head.css">
    <link rel="stylesheet" href="/cho/css/prod/recent.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>

    <title>최근 본 상품</title>
</head>
<body>
<th:block th:replace="~{/prod/header::head}"></th:block>
<div class="container">
    <div class="title-container">
        <div class="title">
            <hr><br>
            <h2>최근 본 상품</h2><br>
            <hr>
        </div>
    </div>
    <div class="product-list" th:each="e : ${items}">
        <div class="product-item">
            <div class="product-image">
                <a th:href="@{'/nbe/detail/'+${e.goods_no}}">
                    <img th:src="${e.getImage_1()}">
                </a>
            </div>
            <div class="product-details">
                <div class="info">
                    <h3 th:text="${e.name}">@@@상품</h3>
                    <p class="price" th:text="${e.price}+'원'">12314원</p>
                </div>
                <p th:text="${e.maker}"></p>
                <p th:text="${e.keywords}">상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름상품이름</p>
            </div>
        </div>
    </div>

    <!--      페이지      -->
    <div class="container mt-1">
        <ul class="pagination justify-content-center">
            <!--   표시여부   -->
            <li class="page-item" th:if="${page>1}"><a class="page-link" th:href="${url}" title="처음"><i class="fas fa-angle-left"></i></a></li>
            <!--/* < 표시 여부 */-->
            <li class="page-item" th:if="${startPage > 1 }"><a class="page-link" th:href="@{${url }(page=${startPage - 1 })}"><i class='fas fa-angle-left'></i></a></li>

            <!--/* 페이징 안의 '숫자' 표시 */-->
            <th:block th:if="${totalPage > 1 }">`
                <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
                    <li class="page-item" th:unless="${k == page }"><a class="page-link" th:href="@{${url }(page=${k})}" th:text="${k}"></a></li>
                    <li class="page-item active" th:if="${k == page }"><a class="page-link" href="javascript:void(0);" th:text="${k}"></a></li>
                </th:block>
            </th:block>
            <!--/* > 표시 여부 */-->
            <li class="page-item" th:if="${totalPage > endPage }"><a class="page-link" th:href="@{${url }(page=${endPage + 1 })}"><i class='fas fa-angle-right'></i></a></li>
            <!--/* >> 표시 여부 */-->
            <li class="page-item" th:if="${page < totalPage }"><a class="page-link" th:href="@{${url }(page=${totalPage })}"><i class='fas fa-angle-double-right'></i></a></li>
        </ul>
    </div>
</div>
</body>
</html>
