body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
div {
    white-space: nowrap;
}

.header {
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    align-items: center;
}
.menu {
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 10%;
}

.logoButton {
    font-size: 5vw;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.HOMEButton {
    border: none;
    background-color: white;
    font-size: 3vw;
    font-weight: bold;
}
.container-2 {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
    margin-bottom: 3%;
    margin-top: 5%;
    margin-right: 5%;
}

.container-2 i {
    font-size: 2.8vw;
}







@media (min-width: 768px){
    .logoButton {
        font-size: 50px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .HOMEButton {
        border: none;
        background-color: white;
        font-size: 20px;
        font-weight: bold;
    }
}