
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    margin-bottom: 3%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    font-family: 'Nanum Gothic Coding', sans-serif;
    background-color: #f0f0f0;
}


.icon {
    color: #888;
}

.container {
    max-width: 100%;
    padding: 20px;
}

.product-list {
    margin-bottom: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-details {
    padding: 20px;
    flex: 1;
}

.info {
    margin-bottom: 10px;
}

.info h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.info p.price {
    font-size: 14px;
}

@media (min-width: 768px) {
    .container {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .container-1 input[type="search"] {
        width: 150px;
    }

    .product-item {
        flex-direction: row;
    }

    .product-image {
        width: 200px;
        height: 200px;
    }

    .info h3 {
        font-size: 18px;
    }

    .info p.price {
        font-size: 16px;
    }
}

.title-container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.title{
    /* border: 4px solid; */
    width: 400px;
    text-align: center;
}
