<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="category">
    <hr>
    <div class="container">
        <div class="category mb-4">
            <div class="category1 mb-3 hidden">
                <button class="btn btn-primary woman">여성의류</button>
                <button class="btn btn-secondary man">남성의류</button>
            </div>
            <div class="category2-man hidden">
                <div class="row">
                    <div class="col-3 col-md-2 col-sm-2 item man">반팔티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">긴팔티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">셔츠/남방</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">바지/팬츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">청바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">반바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">조끼/베스트</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">니트/스웨터</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">가디건</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">자켓</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">점퍼</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">트레이닝복</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">정장</div>
                </div>

            </div>
            <div class="category2-woman hidden">
                <div class="row">
                    <div class="col-3 col-md-2 col-sm-2 item">블라우스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item">후드/맨투맨</div>
                    <div class="col-3 col-md-2 col-sm-2 item">니트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">스커트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">원피스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">가디건</div>
                    <div class="col-3 col-md-2 col-sm-2 item">청바지/진</div>
                    <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item">레깅스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">조끼/베스트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">자켓</div>
                    <div class="col-3 col-md-2 col-sm-2 item">코트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">점퍼/야상/패딩</div>
                    <div class="col-3 col-md-2 col-sm-2 item">정장</div>
                    <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>