<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Mall - Product Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="/cho/css/prod/category.css">
    <link rel="stylesheet" type="text/css" href="/cho/css/prod/head.css">
    <link rel="stylesheet" type="text/css" href="/cho/css/prod/detail.css">
    
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="/cho/js/prod/head.js"></script>
    <script type="text/javascript" src="/cho/js/prod/category.js"></script>
    <script type="text/javascript" src="/cho/js/prod/detail.js"></script>
</head>

<body>

<main>
    <div th:replace="~{cho/prod/header :: head}"></div>


    <div class="content">
        <div class="product-detail">
            <div class="image-gallery">
                <img th:src="${goods.image_1}" alt="Product Image">
            </div>
            <div class="product-info">
                <h2>샘플상품 2</h2>
                <p class="price" th:text="${goods.price}">10,000원</p>
                <form class="order_frm" th:action="@{/order_form}" method="get">
                    <div class="req">
                        <div class="opt">
                            <input type="hidden" name="goodsNo" th:value="${goods.goods_no}">
                            <input type="hidden" name="g_name" th:value="${goods.name}">
                            <input type="hidden" name="price" th:value="${goods.price}">
                            <input type="hidden" name="image" th:value="${goods.image_1}">
                            <input type="hidden" name="u_id" th:value="${user.userId}">
                            <input type="hidden" name="username" th:value="${user.username}">
                            <input type="hidden" name="name" th:value="${user.name}">
                            <input type="hidden" name="phone" th:value="${user.phone}">
                            <input type="hidden" name="birth" th:value="${user.birth}">
                            <input type="hidden" name="email" th:value="${user.email}">
<!--                            <input type="hidden" name="streetAddr" th:value="${user.street_addr}">-->
                            <input type="hidden" name="streetAddr" value="도로명주소">
<!--                            <input type="hidden" name="detailAddr" th:value="${user.address.detail_addr}">-->
                            <input type="hidden" name="detailAddr" value="상세주소">
                            <label for="opt">옵션</label>
                            <select name="opt" id="opt">
                                <option value="">==== 옵션 ===</option>
                                <option th:each="o : ${options}" th:value="${o}" th:text="${o}"></option>
                            </select>
                        </div>
                        <div class="quantity">
                            <label for="amount">수량</label>
                            <input type="number" id="amount" name="amount" value="1" min="1">
                        </div>
                    </div>
                </form>
                <div class="actions">
                    <button class="buy-now" onclick="buy()">BUY</button>
                    <button class="addCart" onclick="addCart()">CART</button>
                </div>
            </div>
        </div>


        <hr>


        <div class="reviews">
            <h2>Reviews(<span class="reviewCtn" th:text="${reviewCnt}"></span>)</h2>
            <div>
                <span class="reviewRate" th:text="${totalRate}"></span>
                <span class="rating-total">
                                        <span class="star" data-value="1">&#9733;</span>
                                        <span class="star" data-value="2">&#9733;</span>
                                        <span class="star" data-value="3">&#9733;</span>
                                        <span class="star" data-value="4">&#9733;</span>
                                        <span class="star" data-value="5">&#9733;</span>
                </span>
            </div>
            <button class="review-btn">리뷰 보기</button>
            <div class="rev hidden">

                <div class="review-block" th:if="${reviews}" th:each="r : ${reviews}">

                    <div class="review" >
                        <div class="review-header">
                        <img th:src="@{${r.user.profileimage}}"  alt="User Image" class="profile-image">
                        <div class="user-info">
                            <p class="username" th:text="${r.user.username}">cho</p>
                            <div class="rating">
                                <span class="rating-stars">
                                    <span class="star" data-value="1">&#9733;</span>
                                    <span class="star" data-value="2">&#9733;</span>
                                    <span class="star" data-value="3">&#9733;</span>
                                    <span class="star" data-value="4">&#9733;</span>
                                    <span class="star" data-value="5">&#9733;</span>
                                </span>
                                <span class="rating-score" th:text="${r.rate}"></span>
                            </div>
                        </div>

                    </div>
                    <div class="review-body">
                        <div class="review-image"  th:if="${r.images}" th:each="i : ${r.images}">
                            <img th:src="@{'/upload/' + ${i.file_name}}" alt="Review Image" class="review-image">
                        </div>
                        <p class="review-content" th:text="${r.content}">색상이 다 예뻐서 어떤 거 살까 고민하다가 검정으로 결정했어요. 옷이 너무 예뻐서 청바지랑 입거
                            dfdkjflejfdkljfojfidjkjf;ef
                            dfjldfjkdfoejfkdj
                            fejf;k나 안 꾸미고 편하게 트레이닝 바지랑 입어도 예쁘게 나오더라구요?? 그리오나는
                            병신아다 그런가 나ㅣㅇ러ㅑㅓㄴㅇㅁ럭더홈;이ㅓㅏ러ㅗ멍;ㅣㅏㄹ허소ㅓㅣ망렇ㄹ멓
                            ㅇ라ㅓㅇㄴ렂ㄷ모ㅓㅎㄹ;ㅣ마ㅓㅣㅓㄷ

                        </p>
                        <button class="toggle-btn">더보기</button>
                    </div>
                </div>

            </div>
                <div class="container mt-1">
                    <ul class="pagination justify-content-center">
                        <!--   표시여부   -->
                        <li class="page-item" th:if="${page>1}"><a class="page-link" th:href="${url}" title="처음"><i class="fas fa-angle-left"></i></a></li>
                        <!--/* < 표시 여부 */-->
                        <li class="page-item" th:if="${startPage > 1 }"><a class="page-link" th:href="@{${url }(page=${startPage - 1 })}"><i class='fas fa-angle-left'></i></a></li>

                        <!--/* 페이징 안의 '숫자' 표시 */-->
                        <th:block th:if="${totalPage > 1 }">`
                            <th:block th:each="k: ${#numbers.sequence(startPage, endPage)}">
                                <li class="page-item" th:unless="${k == page }"><a class="page-link" th:href="@{${url }(page=${k})}" th:text="${k}"></a></li>
                                <li class="page-item active" th:if="${k == page }"><a class="page-link" href="javascript:void(0);" th:text="${k}"></a></li>
                            </th:block>
                        </th:block>
                        <!--/* > 표시 여부 */-->
                        <li class="page-item" th:if="${totalPage > endPage }"><a class="page-link" th:href="@{${url }(page=${endPage + 1 })}"><i class='fas fa-angle-right'></i></a></li>
                        <!--/* >> 표시 여부 */-->
                        <li class="page-item" th:if="${page < totalPage }"><a class="page-link" th:href="@{${url }(page=${totalPage })}"><i class='fas fa-angle-double-right'></i></a></li>
                    </ul>
                </div>

        </div>


        </div>

        <div class="detail-image" th:utext="${goods.contents}">

        </div>
    </div>

    <div class="cont add">
        <p>선택하신 상품이 장바구니에 담겼습니다.</p>
        <button class="shopping">계속쇼핑하기</button>
        <button class="carting">장바구니보기</button>
    </div>
    <div class="cont exist">
        <p>이미 장바구니에 있습니다.</p>
        <button class="shopping">계속쇼핑하기</button>
        <button class="carting">장바구니보기</button>
    </div>
</main>
</body>
</html>

