<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="head">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css">
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
    <script src="/cho/js/prod/head.js"></script>
    <script src="/cho/js/prod/category.js"></script>
    <link rel="stylesheet" href="/cho/css/prod/head.css">
    <link rel="stylesheet" href="/cho/css/prod/category.css">
    <header class="py-4 mb-8">
        <div class="container mx-auto flex justify-between items-center">
            <div class="">
                <a href="/nbe/home"><div class="text-3xl font-bold">NBE</div>
                </a>
            </div>
            <div class="flex space-x-4 items-center">
                <a sec:authorize="isAnonymous()" href="/user/login" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-sign-in-alt text-2xl"></i><br>
                    <span style="font-size: 9px">로그인</span>
                </a>
                <a sec:authorize="isAuthenticated()" href="/user/logout" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-sign-in-alt text-2xl"></i><br>
                    <span style="font-size: 9px">로그아웃</span>
                </a>
                <a sec:authorize="isAnonymous()" href="/user/register" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-user-plus text-2xl"></i><br>
                    <span style="font-size: 9px">회원가입</span>
                </a>
                <a sec:authorize="isAuthenticated()" href="/mypage/detail" class="text-gray-600 hover:text-gray-800">
                    <i class="fas fa-user text-2xl"></i><br>
                    <span style="font-size: 9px; text-align: center;">마이페이지</span>
                </a>
                <a sec:authorize="isAuthenticated()" href="/cart" class="text-gray-600 hover:text-gray-800 relative">
                    <i class="fas fa-shopping-cart text-2xl"></i><br>
                    <span style="font-size: 9px">장바구니</span>
                </a>
            </div>
        </div>
        <nav class="mt-4">
            <ul class="flex justify-center space-x-6">
                <li><a href="/nbe/home" class="text-gray-800 font-bold">HOME</a></li>
                <li><a href="/post/list" class="text-gray-800 font-bold">NOTICE</a></li>
                <li><a class="text-gray-800 font-bold" id="accButton">CATEGORY</a></li>
            </ul>
        </nav>
    </header>
<br><br>
    <div class="">
        <div class="category mb-4">
            <div class="category1 mb-3 hidden">
                <button class="btn btn-primary woman" id="woman">여성의류</button>
                <button class="btn btn-secondary man" id="man">남성의류</button>
            </div>
            <div class="category2-man hidden">
                <div class="row">
                    <div class="col-3 col-md-2 col-sm-2 item man">반팔티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">긴팔티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">셔츠/남방</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">바지/팬츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">청바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">반바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">조끼/베스트</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">니트/스웨터</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">가디건</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">자켓</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">점퍼</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">트레이닝복</div>
                    <div class="col-3 col-md-2 col-sm-2 item man">정장</div>
                </div>

            </div>
            <div class="category2-woman hidden">
                <div class="row">
                    <div class="col-3 col-md-2 col-sm-2 item">블라우스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                    <div class="col-3 col-md-2 col-sm-2 item">후드/맨투맨</div>
                    <div class="col-3 col-md-2 col-sm-2 item">니트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">스커트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">원피스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">가디건</div>
                    <div class="col-3 col-md-2 col-sm-2 item">청바지/진</div>
                    <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                    <div class="col-3 col-md-2 col-sm-2 item">레깅스</div>
                    <div class="col-3 col-md-2 col-sm-2 item">조끼/베스트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">자켓</div>
                    <div class="col-3 col-md-2 col-sm-2 item">코트</div>
                    <div class="col-3 col-md-2 col-sm-2 item">점퍼/야상/패딩</div>
                    <div class="col-3 col-md-2 col-sm-2 item">정장</div>
                    <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>
</th:block>
</html>