<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="head">
    <div class="container-2">
        <i name="menuIcon" class="fa-regular fa-user user"></i>&nbsp;&nbsp;&nbsp;
        <div class="cart-icon">
            <i name="menuIcon" class="fa-solid fa-cart-plus cart"></i>
            <span class="cart-badge" th:text="${cartNum}">3</span>
        </div>
    </div>
    <header class="header">
        <div class="logo">
            <a class="logoButton">LOGO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div class="menu">
            <button class="HOMEButton home">HOME</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton post">게시글</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton recent">최근 본 상품</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="HOMEButton accButton" onclick="category()">ACC</button>
        </div>

    </header>
    <script th:src="@{/cho/js/prod/head.js}" type="text/javascript"></script>
</th:block>
</html>