<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <link rel="stylesheet" href="/cho/css/prod/head.css">
    <script src="/cho/js/prod/head.js"></script>
</head>
<script>
    var IMP = window.IMP;
    IMP.init("imp77731808");

    function requestPay() {
        IMP.request_pay({
            pg: "html5_inicis.INIpayTest",
            pay_method: "card",
            merchant_uid: "ORD20180K31-00K001134",   // 주문번호
            name: "노르웨이 회전 의자",
            amount: 110,                         // 숫자 타입
            buyer_email: "gildong@gmail.com",
            buyer_name: "홍길동",
            buyer_tel: "010-4242-4242",
            buyer_addr: "서울특별시 강남구 신사동",
            buyer_postcode: "01181"
        }, function (rsp) { // callback
            $.ajax({
                type: 'POST',
                url: '/verify/' + rsp.imp_uid
            }).done(function(data) {
                if(rsp.paid_amount === data.response.amount){
                    alert("결제 성공");
                } else {
                    alert("결제 실패");
                }
            });
        });

    }
</script>
<body>
<h1>결제 페이지</h1>
<button onclick="requestPay()">결제하기</button>
</body>
</html>