* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'Roboto', 'Open Sans', 'Lato', 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #f4f4f9;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

.header, .header-left h1, .header-right span, .header-right a, .sidebar ul li, .main-content .card h3, .main-content .card p {
    font-family: 'Montserrat', sans-serif;
}


.header {
    width: 100%;
    height: 60px;
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left h1 {
    cursor: pointer;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right span {
    margin-right: 20px;
    font-weight: 500;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    background-image: url('////background-image.jpg');
    background-size: cover;
    background-position: center;
    padding-top: 80px; /* Adjusted for header height */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0; /* Adding a right border */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    margin: 10px 20px;
    color: #dedede;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-weight: 700; /* Making the font bold */
    font-size: 16px; /* Slightly larger font size */
}

.sidebar ul li:hover {
    background-color: black;
}

.main-content {
    flex: 1;
    padding: 100px 20px 20px 280px; /* Adjusted for header and sidebar */
    overflow: auto;
}

.card {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3 {
    margin-top: 0;
    font-weight: 700;
}

.card p {
    color: #666;
    font-weight: 400;
}

.card .more-btn {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.card .more-btn:hover {
    background-color: #444;
}
