* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    min-height: 100vh;
    background-color: #f4f4f9;
    overflow: auto; /* Enable scrolling on the body */
    padding: 20px; /* Add some padding to ensure the content is not right at the edge */
}

.content {
    width: 80%;
    max-width: 800px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.section {
    margin-bottom: 20px;
}

.section-header {
    background-color: #555;
    color: white;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 10px;
}

.section-content div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.section-content label {
    font-weight: bold;
    color: #333;
    width: 30%;
}

.section-content input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.section-content p {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.section-content textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    resize: none;
}

.answer-textarea{
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
    resize: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensure buttons can wrap to the next line if needed */
    margin-top: 20px;
}

#answerForm{
    width: 100%;
}

.buttons button {
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Add margin to create space between rows */
}

.buttons .answer-button {
    background-color: #5bc0de;
    color: white;
}

.buttons .answer-button:hover {
    background-color: #31b0d5;
}

.buttons .delete-button {
    background-color: #f05650;
    color: white;
}

.buttons .delete-button:hover {
    background-color: #ec971f;
}

.buttons .back-button {
    background-color: #777;
    color: white;
    width: 100%; /* Make the back button span the full width of the container */
    text-align: center; /* Center the text inside the button */
}

.buttons .back-button:hover {
    background-color: #555;
}
