@charset "UTF-8";
*{
    font-family: "Nanum Gothic Coding", monospace;
    font-weight: 400;
    font-style: normal;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    object-fit: contain;
  }
.mySlides {
    display: none;
}

* {box-sizing:border-box;} 
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

  /* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: hotpink;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }

  .pt-site-footer__submit{
    display: inline-block;
    position: relative;
    overflow: hidden;
  }

  .commentTable{
    background: lightgray;
  }

  .submitComment {
    position: absolute;
    border: 0;
    border-radius: 7px;
    color: white;
    padding: 15px;
    cursor:pointer;
    right: 5px;
    top: 50%;
    transform: translate(0, -50%);
  }
  
  .inputComment{
    border: 0;
    border-radius: 10px;
    color: white;
    padding: 20px;
    min-width: 320px;
  }
  .clear{
    clear: both;
  }

  .addressTable{
    width: 300px; height: 125px;
  }

  .btn{
      background-color: black;
  }

.basicIconColor{
    color: black;
    text-decoration: none;
}

  #btnColor{
      color: white;
  }
  hr {
      color: black;
  }
.bronze{
    color: saddlebrown;
}

.silver{
    color: silver;
}

.gold{
    color: gold;
}

.diamond{
    color: lightskyblue;
}

.input-file-button{
    padding: 6px 25px;
    background-color: lightpink;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 120px;
}

.parent {
    position: relative; /* 부모 요소를 relative로 설정 */
    width: 300px;
    height: 300px;
}

.child {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-100%, 200%);
    z-index: 1;
}

.spin {
    transform: rotate(1440deg);
    transition: transform 1s;
}

#grade{
    opacity: 0;
}

.selected {
    background-color: lightgray; /* 원하는 배경색 지정 */
}

.selectImage{
    transition: filter 1s ease; /* 변화 효과를 주기 위한 CSS transition */
}

.selectImage:hover{
    filter: grayscale(100%);
}

.selectInput{
    background-color: yellow;

    transition: background-color 3s ease; /* 변화 효과를 주기 위한 CSS transition */
}