.box {
    background-color: #c8c8c8;
    height: 40px;
    width: 500px;
    margin-top: 10px;
    text-align: center; /* 중앙 정렬 */
    line-height: 40px; /* 세로 중앙 정렬 */
    border-radius: 10px;
    color: #5D5D5D;
}

.title {
    text-align: center;
    font-weight: bold;
}

[name="productInfo"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    text-align: left;
    /* border: 4px solid yellow; */
}

.productImage {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
}

.delivery-title {
    width: 500px;
    font-size: 25px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
}

.delivery {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    /* border: 4px solid; */
}

.delivery-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 4px solid red; */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    /* border: 4px solid; */
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#orderProduct {
    font-size: 35px;
    font-weight: bold;
    margin: 0;
}

#icon {
    font-size: 35px;
    vertical-align: middle;
    cursor: pointer;
}

.delivery-title, .productImage, .productInfo, .box, .delivery, .productInfo1 {
    display: none; /* 기본적으로 숨기도록 설정 */
}

.productInfo1{
    color: black;
    text-decoration-line: none;
}

#orderProduct + i {
    font-size: 35px;
    vertical-align: middle;
}


#shopname1{
    color: #A6A6A6;
    text-decoration-line: none;
}

#shopname2{
    color: #A6A6A6;
    text-decoration-line: none;
}

#shopname3{
    color: #A6A6A6;
    text-decoration-line: none;
}

.adressInfo{
    padding-left: 570px;
    font-size: 35px;
    font-weight: bold;
    color: #000;
    text-decoration-line: none;
}



/* #change{
  padding-left: 330px;
} */

#cutomerInfo{
    width: 500px;
    text-align: left;
    /* border: 4px solid;  */
    margin-left: 580px;
}

select {
    /* styling */
    background-color: white;
    border: thin solid rgb(199, 199, 199);
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
    box-shadow: 5px 5px 5px #BDBDBD;

    /* reset */
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 500px;
}

select.minimal {
    background-image:
            linear-gradient(45deg, transparent 50%, gray 50%),
            linear-gradient(135deg, gray 50%, transparent 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 15px) calc(1em + 2px),
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
}

select.minimal:focus {
    background-image:
            linear-gradient(45deg, green 50%, transparent 50%),
            linear-gradient(135deg, transparent 50%, green 50%),
            linear-gradient(to right, #ccc, #ccc);
    background-position:
            calc(100% - 15px) 1em,
            calc(100% - 20px) 1em,
            calc(100% - 2.5em) 0.5em;
    background-size:
            5px 5px,
            5px 5px,
            1px 1.5em;
    background-repeat: no-repeat;
    outline: 0;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

#gate{
    background-color: #EAEAEA;
    margin-left: 580px;
    height: 90px;
    width: 500px;
    box-shadow: 5px 5px 5px #BDBDBD;
    position: relative;
    display: flex; /* Use flexbox for layout */
    align-items: center;
}

#gate1 {
    width: 150px;
    height: 40px;
    text-align: center;
    /* border: 4px solid; */
}

#gate2 {
    width: 300px;
    /* border: 4px solid red; */
    margin-left: 10px;
    /* position: relative; */
}

#gateway{
    font-size: 20px;
    font-weight: 700;
}

#passwordField {
    display: none;
    width: 100%;
    height: 25px;
    /* margin-top: 5px; */
    padding-bottom: 15px;
}

#couponInfo{
    margin-left: 580px;
    /* border: 4px solid; */
    width: 600px;
}

#couponad{
    color: #8C8C8C;
    padding-left: 275px;
    font-size: 18px;
    font-weight: 500;
}

#couponad1{
    color: #8C8C8C;
    padding-left: 365px;
    font-size: 18px;
    font-weight: 500;
}

.coupontext{
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 500;
    padding-left: 5px;
    text-decoration-line: none;
}

#point{
    color: #A6A6A6;
    padding-left: 5px;
}

.couponbutton{
    width: 90px;
    height: 48px;
    border-radius: 8px;
    border: none;
    color: #747474;
}

#moneysum{
    color: red;
    padding-left: 240px;
    font-size: 35px;
    font-weight: bold;
}

#payoption{
    margin-left: 580px;
    /* border: 4px solid; */
    width: 600px;
}

#payradio{
    margin-left: 20px;
}

.payname{
    font-size: 25px;
    margin-left: 15px;
    color: #8C8C8C;
}

input[name="payradio"]:checked + .payname {
    color: black;
}

.paybutton{
    width: 90px;
    height: 48px;
    border-radius: 8px;
    border: none;
    color: #747474;
}

footer {
    height: 300px;
    background-color: #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#legislation {
    width: 600px;
    height: 100px;
    /* border: 4px solid; */
    /* margin-bottom: 20px;  */
}

#legislation a{
    color: #747474;
}

#agree {
    height: 30px;
    width: 600px;
    color: #747474;
    /* border: 4px solid; */
}

.agreebutton{
    width: 500px;
    height: 43px;
    border-radius: 8px;
    border: none;
    /* color: #4C4C4C; */
    color: white;
    background-color: #5D5D5D;
}

/* 팝업설정 */
.btn {
    /* display: block;
    width: 200px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    background-color: #8C8C8C;
    color: #fff;
    border-radius: 50px; */
    /* margin: 10px auto; */ /* 버튼 위치 이동 원인 */
    cursor: pointer;
}

.popup.active {
    z-index: 1000; /* 팝업이 열릴 때 상위에 표시되도록 설정 */
    display: block; /* 팝업이 열릴 때 보이도록 설정 */
}

.dim.active {
    z-index: 900; /* 배경이 열릴 때 상위에 표시되도록 설정 */
    display: block; /* 배경이 열릴 때 보이도록 설정 */
}

.popup {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    text-align: right;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    background-color: #fff;
    z-index: -1;
    overflow: auto;
}

.popup a {
    color: grey;
    text-decoration: none;
}

.popup:target {
    opacity: 1;
}

.popup:target + .dim {
    opacity: 1;
    z-index: -2;
}

.dim {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    z-index: -2;
}

.transformChange {
    width: 58%;
    margin: 0 auto;
    text-align: center;
    /* border: 4px solid; */
}

.addressInfo {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    text-align: left;
}

.addressInfo2 {
    width: 400px;
    margin: 0 auto;
    text-align: left;
}

.addressInfo h2 {
    margin-top: 0;
}

.btn2 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-secondary {
    background-color: #ccc;
    color: black;
}

.input-form {
    display: none;
    margin-top: 20px;
}

.input-form input {
    display: block;
    width: calc(100% - 22px);
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.transformChangeButton{
    margin: 0 auto;
    text-align: center;
    width: 58%;
    /* border: 4px solid; */
}

.hrTag{
    width: 75%;
}