* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f4f4f9;
    display: flex;
    min-height: 100vh;
}

.header {
    width: 100%;
    height: 60px;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-left h1 {
    cursor: pointer;
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right span {
    margin-right: 20px;
    font-weight: 500;
}

.header-right a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.sidebar {
    width: 250px;
    background-color: #2c2c2c;
    padding-top: 80px; /* Adjusted for header height */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    border-right: 1px solid #e0e0e0; /* Adding a right border */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    margin: 10px 20px;
    color: #dedede;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    font-weight: 700; /* Making the font bold */
    font-size: 16px; /* Slightly larger font size */
    border-bottom: 1px solid #444; /* Adding a bottom border */
}

.sidebar ul li:hover {
    background-color: #444;
}

.main-content {
    flex: 1;
    padding: 100px 20px 20px 280px; /* Adjusted for header and sidebar */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: calc(100vh - 60px); /* Ensures it fits within the viewport height */
}

.card, .table-container {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3, .main-content h1, .main-content h3 {
    margin-top: 0;
    font-weight: 700;
}

.card p, .main-content p {
    color: #666;
    font-weight: 400;
}

.card .more-btn, .main-content .details-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 500;
}

.card .more-btn:hover, .main-content .details-button:hover {
    background-color: #444;
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th, .table-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-container th {
    background-color: #f4f4f9;
    font-weight: 700;
}

.search-bar {
    display: flex;
    justify-content: left;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

.search-bar button:hover {
    background-color: #444;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    background-color: #e0e0e0;
    transition: background-color 0.3s;
}

.pagination a:hover {
    background-color: #ccc;
}

.pagination .active {
    background-color: #666;
    color: #fff;
}
