body {
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: 400;
  font-style: normal;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}
.container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form-group textarea {
  height: 200px;
  resize: vertical;
}
.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.buttons button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}
.submit-button {
  background-color: #28a745;
}
.cancel-button {
  background-color: #dc3545;
}
.submit-button:hover {
  background-color: #218838;
}
.cancel-button:hover {
  background-color: #c82333;
}