<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<th:block th:with="logged_user=${#authentication.principal.user}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/JimmyCss.css}">
    <title>정보 수정</title>
</head>
<body>
    <div class="container border rounded">
        <div class="p-5 text-left">
            <a th:onclick="Back()" class="col-1 col-sm-1" style="text-decoration: none; color: black;"><i class="fas fa-arrow-left fa-2x"></i></a>
        </div>
        <form th:action="@{/nbe/mypage/update}" method="post" enctype="multipart/form-data">
            <div class="p-5 text-left">
                <div class="container mt-5 col-8 col-sm-8 rounded">
                    <table class="border border-dark table ml-3">
                        <tbody>
                        <tr>
                            <td class="col-4 col-sm-4 col-lg-4 ml-3" style="width: 16.66%">
                                <p class="col-12 col-sm-12 col-lg-12 rounded commentTable text-center pt-5 nanum-gothic-coding-regular" style="height: 200px;">
                                    사용자 정보
                                </p>
                            </td>
                            <td class="col-8 col-sm-8 col-lg-8 rounded commentTable" style="width: 150px; height: 150px;">
                                <div>
                                    <span th:if="${logged_user}" th:id="'profile'" >
                                        <img class="ms-4 mt-3 col-lg-4 col-sm-6 col-12 rounded" th:id="'dummyProfile'" style="width: 120px; height: 120px; float: left; margin-right: 10%" th:if="${currentPic}" th:src="@{'/upload/' + ${currentPic}}" th:alt="'none'"/>
                                        <i class="ms-4 mt-3 fas fa-user-circle fa-8x col-lg-4 col-sm-6 col-12 rounded" th:id="'dummyProfile'" style="color: lightgray; float: left;" th:unless="${currentPic}"></i>
                                    </span>
                                    <span th:unless="${logged_user}" th:id="'profile'">
                                        <i class="ms-4 mt-3 fas fa-user-circle fa-8x col-lg-4 col-sm-6 col-12 rounded" th:id="'dummyProfile'" style="color: lightgray; float: left;" ></i>
                                    </span>
                                    <br><br><br>
                                    <span>
                                        <label class="col-lg-2 col-sm-2 col-2" th:for="'nickname'"><b class="nanum-gothic-coding-regular">닉네임: </b></label> <input class="col-lg-4 col-sm-4 col-4 me-5" th:id="'nickname'" type="text" style="float: right; width: 200px;" th:placeholder="'닉네임을 입력해주세요.'" th:value="${nickName}"><br>
                                    <br>
                                        <label class="col-lg-2 col-sm-2 col-2" th:for="'phone'"><b class="nanum-gothic-coding-regular">전화번호: </b></label><input class="col-lg-4 col-sm-4 col-4 me-5" th:id="'phoneNum'" type="text" style="float: right; width: 200px;" th:placeholder="'전화번호를 입력해주세요.'" th:value="${phone}">
                                    </span>
                                </div>
                                <br>
                                <label class="input-file-button ms-4 col-lg-12 nanum-gothic-coding-regular" th:for="'file'">사진변경</label>
                                <input type="file" class="ms-5" th:id="'file'" th:name="'file'" style="display: none;" accept="image/jpeg, image/png, image/jpg" th:onchange="'loadImage(this)'"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-8 col-sm-8 ml-3" style="width: 16.66%">
                                <p class="col-12 col-sm-12 col-lg-12 rounded commentTable text-center pt-5 nanum-gothic-coding-regular" style="height: 250px;">
                                    배송지 관리
                                </p>
                            </td>
                            <td class="col-12 col-sm-12 col-lg-12 rounded commentTable" style="height: 250px;">
                                <table>
                                    <thead>
                                    </thead>
                                    <tbody th:id="'addressGroup'">
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" class="btn" th:id="'addAddress'" style="float: right; width: 100px;"><a th:id="'btnColor'" class="nanum-gothic-coding-regular" style="text-decoration: none">주소추가</a></button>
                    <br>
                    <br>
                    <button type="button" class="btn" th:id="'submitUpdate'" style="float: right; width: 100px;"><a th:id="'btnColor'" class="nanum-gothic-coding-regular" style="text-decoration: none">변경완료</a></button>
                </div>
            </div>
        </form>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
</body>
    <script th:inline="javascript">
        const logged_user = [[${logged_user}]];
        var addresses = [[${addresses}]];
        function Back(){
            history.back();
        }
        $(document).ready(function (){
            if(dataArr.length === 0)
            {
                console.log(logged_user);
                if(logged_user === null)
                    return;
                for(var item of addresses)
                {
                    let isSame = false;
                    if(item["user_id"] != null)
                    {
                        if(item["user_id"] !== logged_user.id)
                            continue;
                    }
                    console.log(item["isDefault"]);
                    for(let value of dataArr)
                    {
                        if(value["id"] === item["id"])
                        {
                            isSame = true;
                            break;
                        }
                    }
                    if(isSame === false)
                        initialize(item);
                }

                i = dataArr.length;
            }
        });
    </script>
    <script th:src="@{/js/updateUserCode.js}" type="text/javascript"></script>
</th:block>
</html>