<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Operation Result</title>
</head>
<body>
<script th:unless="${result > 0}">
    alert("삭제 실패");
    history.back();
</script>
<script th:if="${result > 0}" th:inline="javascript">
    alert("삭제 성공");
    location.href = "cart?userId=[[${userId}]]";
</script>
<script th:unless="${result1 > 0}">
    alert("장바구니 실패");
    history.back();
</script>
<script th:if="${result1 > 0}" th:inline="javascript">
    alert("장바구니 성공");
    location.href = "pay?userId=[[${userId}]]";
</script>
</body>
</html>