<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="default.css">
    <script type="text/javascript" src="default.js"></script>
    <title>Main</title>
</head>

<body>
    <header class="d-flex justify-content-between align-items-center p-3">
        <div class="logo">
            <h1>쇼핑몰</h1>
        </div>
        <nav class="menu">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="#">Menu1</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Menu2</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Menu3</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    <main>
        <div class="container">
            <div class="category mb-4">
                <div class="category1 mb-3">
                    <button class="btn btn-primary woman">여성의류</button>
                    <button class="btn btn-secondary man">남성의류</button>
                </div>
                <div class="category2-man hidden">
                    <div class="row">
                        <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                        <div class="col-3 col-md-2 col-sm-2 item">셔츠/남방</div>
                        <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                        <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                        <div class="col-3 col-md-2 col-sm-2 item">니트/스웨터</div>
                        <div class="col-3 col-md-2 col-sm-2 item">청바지</div>
                        <div class="col-3 col-md-2 col-sm-2 item">재킷</div>
                        <div class="col-3 col-md-2 col-sm-2 item">정장세트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">코디세트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">카디건</div>
                        <div class="col-3 col-md-2 col-sm-2 item">유니폼/단체복</div>
                    </div>
                </div>
                <div class="category2-woman hidden">
                    <div class="row">
                        <div class="col-3 col-md-2 col-sm-2 item">카디건</div>
                        <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                        <div class="col-3 col-md-2 col-sm-2 item">블라우스/셔츠</div>
                        <div class="col-3 col-md-2 col-sm-2 item">원피스</div>
                        <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                        <div class="col-3 col-md-2 col-sm-2 item">니트/스웨터</div>
                        <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                        <div class="col-3 col-md-2 col-sm-2 item">점프슈트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">조끼</div>
                        <div class="col-3 col-md-2 col-sm-2 item">재킷</div>
                        <div class="col-3 col-md-2 col-sm-2 item">점퍼</div>
                        <div class="col-3 col-md-2 col-sm-2 item">청바지</div>
                        <div class="col-3 col-md-2 col-sm-2 item">스커트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">코디세트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">정장세트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">카디건</div>
                        <div class="col-3 col-md-2 col-sm-2 item">레인코트</div>
                        <div class="col-3 col-md-2 col-sm-2 item">한복</div>
                        <div class="col-3 col-md-2 col-sm-2 item">파티룩</div>
                    </div>
                </div>
            </div>

            <div class="product-list row">
                <!-- 여기에 제품 목록이 들어갑니다 -->
            </div>
        </div>
    </main>
        <div class="navbar">
            <a href="#">카테고리</a>
            <a href="#">스냅</a>
            <a href="#">홈</a>
            <a href="#">좋아요</a>
            <a href="#">마이</a>
        </div>
    </article>

</body>

</html>