<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/request.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" defer></script>
    <script src="/js/request.js" defer></script>
    <title>Document</title>
</head>
<body>
<header class="header">
    <div class="menu">
        <a class="logoButton">LOGO</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="HOMEButton home">HOME</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="HOMEButton post">게시글</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="HOMEButton recent">최근 본 상품</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="HOMEButton" id="accButton">ACC</button>
    </div>
    <div class="container">
        <div class="container-1">
<!--            <span class="icon"><i class="fa-solid fa-magnifying-glass"></i></span>&nbsp;-->
<!--            <input type="search" id="search" placeholder="Search..." />-->
        </div>
        <div class="container-2">
            <i name="menuIcon" class="fa-regular fa-user"></i>&nbsp;&nbsp;&nbsp;
            <i name="menuIcon" class="fa-solid fa-cart-plus"></i>
        </div>
    </div>
</header>
<hr><br><br><br>
<!--<div id="categorySection" style="display: none;">-->
<!--    <th:block th:replace="~{/cho/prod/category}"></th:block>-->
<!--</div>-->
<div class="">
    <div class="category mb-4">
        <div class="category1 mb-3 hidden">
            <button class="btn btn-primary woman" id="woman">여성의류</button>
            <button class="btn btn-secondary man" id="man">남성의류</button>
        </div>
        <div class="category2-man hidden">
            <div class="row">
                <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                <div class="col-3 col-md-2 col-sm-2 item">셔츠/남방</div>
                <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                <div class="col-3 col-md-2 col-sm-2 item">니트/스웨터</div>
                <div class="col-3 col-md-2 col-sm-2 item">청바지</div>
                <div class="col-3 col-md-2 col-sm-2 item">재킷</div>
                <div class="col-3 col-md-2 col-sm-2 item">정장세트</div>
                <div class="col-3 col-md-2 col-sm-2 item">코디세트</div>
                <div class="col-3 col-md-2 col-sm-2 item">카디건</div>
                <div class="col-3 col-md-2 col-sm-2 item">유니폼/단체복</div>
            </div>
        </div>
        <div class="category2-woman hidden">
            <div class="row">
                <div class="col-3 col-md-2 col-sm-2 item">가디건</div>
                <div class="col-3 col-md-2 col-sm-2 item">티셔츠</div>
                <div class="col-3 col-md-2 col-sm-2 item">블라우스/셔츠</div>
                <div class="col-3 col-md-2 col-sm-2 item">원피스</div>
                <div class="col-3 col-md-2 col-sm-2 item">바지</div>
                <div class="col-3 col-md-2 col-sm-2 item">니트/스웨터</div>
                <div class="col-3 col-md-2 col-sm-2 item">트레이닝복</div>
                <div class="col-3 col-md-2 col-sm-2 item">점프슈트</div>
                <div class="col-3 col-md-2 col-sm-2 item">조끼</div>
                <div class="col-3 col-md-2 col-sm-2 item">재킷</div>
                <div class="col-3 col-md-2 col-sm-2 item">점퍼</div>
                <div class="col-3 col-md-2 col-sm-2 item">청바지</div>
                <div class="col-3 col-md-2 col-sm-2 item">스커트</div>
                <div class="col-3 col-md-2 col-sm-2 item">코디세트</div>
                <div class="col-3 col-md-2 col-sm-2 item">정장세트</div>
                <div class="col-3 col-md-2 col-sm-2 item">카디건</div>
                <div class="col-3 col-md-2 col-sm-2 item">레인코트</div>
                <div class="col-3 col-md-2 col-sm-2 item">한복</div>
                <div class="col-3 col-md-2 col-sm-2 item">파티룩</div>
            </div>
        </div>
    </div>
</div>

<div class="transInfo" th:if="${item.status}" th:each="item : ${PurchaseStatusList}">
    <div class="transInfo2" >
        <!-- 배송완료랑 결제완료만 -->
<!--        <h1 class="status" th:text="${item.status}">배송완료</h1>-->
        <span class="status" th:if="${(item.status == 'OK') || (item.pay == 'REVIEW')}">결제완료</span>
        <span class="status" th:if="${item.status == 'CANCEL'}">취소 처리중</span>
        <span class="status" th:if="${item.status == 'CANCEL_OK'}">취소 완료</span>
        <div class="row" style="width: 500px;">
            <div class="col-auto">
                <img th:src="${item.goods.image}" id="productImage" class="productImage" alt="Product Image">
            </div>
            <div class="col">
                <br>
                <a class="productInfo" >7.10.12:00</a>
<!--                th:text="${item.regdate}"-->
                <br>
                <a class="productInfo" th:text="${item.goods.name}">상품이름상품이름상품이름상품이름상품이름</a><br>
                <a class="productInfo" th:text="${item.goods.price} + '원 ' + ${item.amount} + '개'">12345원 1개</a><br>
                <a class="productInfo" th:text="${item.opt}">@@@</a><br>
            </div>
        </div><br>
        <!-- 배송완료 상태만 리뷰작성 버튼 보이게 -->
        <div th:if="${item.status == 'OK'}">
            <div class="btnDiv">
                <a th:href="@{/review(id=${item.id})}">리뷰작성</a>
                <button class="cancel-request"
                        th:mId="${item.merchantId}"
                        th:image="${item.goods.image}"
                        th:goods_name="${item.goods.name}"
                        th:price="${item.goods.price}"
                        onclick="cancel(this.getAttribute('mId') ,this.getAttribute('image'),
                            this.getAttribute('goods_name'),
                            this.getAttribute('price'))">
                        결제취소 </button>
            </div>
        </div>
    </div>
</div>
<br><br>

<div class="pagination2">
    <div class="pagination">
        <a href="#">&laquo;</a>
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a href="#">6</a>
        <a href="#">&raquo;</a>
    </div>
</div>



<!--결제 취소시 나타나는 모달창-->
<div class="card">
    <div class="card-img"><img src="" alt="" class="img"></div>
    <div class="card-title">Product title</div>
    <hr class="card-divider">
    <div class="card-footer">
        <div class="card-price">123.45</div>
        <button class="card-btn">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="m397.78 316h-205.13a15 15 0 0 1 -14.65-11.67l-34.54-150.48a15 15 0 0 1 14.62-18.36h274.27a15 15 0 0 1 14.65 18.36l-34.6 150.48a15 15 0 0 1 -14.62 11.67zm-193.19-30h181.25l27.67-120.48h-236.6z"></path><path d="m222 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m368.42 450a57.48 57.48 0 1 1 57.48-57.48 57.54 57.54 0 0 1 -57.48 57.48zm0-84.95a27.48 27.48 0 1 0 27.48 27.47 27.5 27.5 0 0 0 -27.48-27.47z"></path><path d="m158.08 165.49a15 15 0 0 1 -14.23-10.26l-25.71-77.23h-47.44a15 15 0 1 1 0-30h58.3a15 15 0 0 1 14.23 10.26l29.13 87.49a15 15 0 0 1 -14.23 19.74z"></path></svg>
        </button>
    </div>
</div>

</body>


</html>

<!--            <form th:method="get" th:action="@{/review(id=${item.itemId})}">-->
<!--                <input type="hidden" class="itemId" th:value="${item.itemId}">-->
<!--            </form>-->