body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content {
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
.content h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.content .info {
    margin-bottom: 20px;
}
.content .info div {
    margin-bottom: 10px;
}
.content .info div span {
    font-weight: bold;
    color: #333;
}
.content .description {
    margin-bottom: 20px;
}
.content .description h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}
.content .description p {
    font-size: 16px;
    color: #666;
    line-height: 1.6;
}
.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
}
.buttons .edit-button {
    background-color: #007bff;
    color: white;
}
.buttons .edit-button:hover {
    background-color: #0056b3;
}
.buttons .delete-button {
    background-color: #dc3545;
    color: white;
}
.buttons .delete-button:hover {
    background-color: #c82333;
}
.buttons .back-button {
    background-color: #6c757d;
    color: white;
}
.buttons .back-button:hover {
    background-color: #5a6268;
}