<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 관리 페이지</title>
    <link rel="stylesheet" th:href="@{/css/orderpage.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <div class="header-left">
        <h1 onclick="location.href='/admin/main'">관리자 메뉴</h1>
    </div>
    <div class="header-right">
        <span>관리자</span>
        <span><a th:href="@{/nbe/home}">홈으로</a></span>
        <a href="/logout">로그아웃</a>
    </div>
</div>
<div class="sidebar">
    <ul>
        <li onclick="location.href='/admin/orderpage'">주문 관리</li>
    </ul>
</div>
<div class="main-content">
    <h1>주문 관리 페이지</h1> <br>
    <h3>총 <span th:text="${orderCnt}"></span>개의 주문 요청이 있습니다.</h3>
    <div class="search-bar">
        <form th:action="@{/admin/orderpage}" method="get">
            <input type="text" name="username" placeholder="회원 아이디 입력" th:value="${param.username}">
            <button type="submit">검색</button>
        </form>
    </div>
    <div class="table-container">
        <table>
            <thead>
            <tr>
                <th>주문 번호</th>
                <th>회원 ID</th>
                <th>전화 번호</th>
                <th>주문 일시</th>
                <th>상품명</th>
                <th>구매 가격</th>
                <th>상태</th>
                <th>상태 변경</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order, iterStat : ${orderList}">
                <td th:text="${order.id}">1</td>
                <td th:text="${order.user.username}">홍길동</td>
                <td th:text="${order.user.phone}">010-1234-5678</td>
                <td th:text="${#temporals.format(order.regdate)}"></td>
                <td th:text="${order.goods.getName()}">셔츠</td>
                <td th:text="${order.amount}">30,000</td>
                <td>
                    <span th:switch="${order.status}">
                        <span th:case="'OK'">결제 완료</span>
                        <span th:case="'CANCEL_OK'">결제 취소</span>
                        <span th:case="*">취소 요청</span>
                    </span>
                </td>

                <td>
                    <form id="updatePayStatusForm"  th:id="'updatePayStatusForm' + ${iterStat.index}" method="post">
                        <input type="text" id="purchaseId" name="purchaseId" th:value="${order.id}">
                        <input type="text" id="paymentUid" name="paymentUid" th:value="${order.pay.paymentUid}">
                        <select name="status" class="status-select" id="orderStatus">
                            <option value="OK" th:selected="${order.status == 'OK'}">결제 완료</option>
                            <option value="CANCEL" th:selected="${order.status == 'CANCEL'}">취소 대기</option>
                            <option value="CANCEL_OK" th:selected="${order.status == 'CANCEL_OK'}">결제 취소</option>
                        </select>
                        <button class="apply-button" type="submit">적용</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="pagination">
        <a th:href="@{/admin/orderpage(page=${currentPage - 1}, username=${param.username})}" th:if="${currentPage > 1}">&laquo;</a>
        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
            <a th:href="@{/admin/orderpage(page=${i}, username=${param.username})}" th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''"></a>
        </span>
        <a th:href="@{/admin/orderpage(page=${currentPage + 1}, username=${param.username})}" th:if="${currentPage < totalPages}">&raquo;</a>
    </div>
</div>
<script src="/js/orderpage.js"></script>
</body>
</html>
