<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>주문 관리 페이지</title>
    <link rel="stylesheet" href="/css/orderpage.css">
</head>
<body>
    <div class="sidebar">
        <div class="menu-item admin-menu" onclick="location.href='main'">관리자 메뉴</div>
        <div class="menu-item order-list">주문 목록</div>
    </div>
    <div class="main-content">
        <div class="search-bar">
            <input type="text" placeholder="고객 이름을 입력">
            <button>검색</button>
        </div>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th><input type="checkbox" id="select-all"></th>
                        <th>주문번호</th>
                        <th>고객 이름</th>
                        <th>주문 일시</th>
                        <th>상품명</th>
                        <th>상품 가격</th>
                        <th>구매 수량</th>
                        <th>상태</th>
                        <th>상태 변경</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="order-checkbox"></td>
                        <td>1</td>
                        <td>홍길동</td>
                        <td>2024/06/05</td>
                        <td>셔츠</td>
                        <td>30,000</td>
                        <td>3</td>
                        <td>
                            <select class="status-select">
                                <option>결제 완료</option>
                                <option>상품 준비</option>
                                <option>배송 중</option>
                                <option>배송 완료</option>
                            </select>
                        </td>
                        <td><button class="apply-button">적용</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    <script>

    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.querySelectorAll('.order-checkbox');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }

    var buttons = document.querySelectorAll('.apply-button');
    buttons.forEach(function(button) {
        button.addEventListener('click', function() {
            alert('적용되었습니다.');
        });
    });

    </script>
</body>
</html>
