<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>반품 상세 페이지</title>
<link rel="stylesheet" href="/css/returnDetailPage.css">
</head>
<body>
    <div class="container">
        <div class="title">반품 상세 페이지</div>
        <div class="section">
            <h3>주문 정보</h3>
            <p>주문 번호: 1</p>
            <p>주문 날짜: 2024-06-01</p>
            <p>주문자 이름: 홍길동</p>
            <p>주문자 연락처: 010-1234-5678</p>
        </div>
        <div class="section">
            <h3>반품 정보</h3>
            <p>반품 번호: 123123</p>
            <p>반품 요청 날짜: 2024-06-10</p>
            <p>반품 사유: 상품 불량</p>
            <p>반품 상태: 접수 완료</p>
        </div>
        <div class="section">
            <h3>상품 정보</h3>
            <p>상품명: 셔츠</p>
            <p>상품 코드: 1234</p>
            <p>수량: 1</p>
            <p>가격: 50,000원</p>
        </div>
        <div class="section">
            <h3>상세 설명</h3>
            <p>반품 상세 사유: 옷 사이즈가 너무 작습니다. 반품 요청 합니다.</p>
        </div>
        <div class="buttons">
            <button class="approve-button">반품 승인</button>
            <button class="reject-button">반품 거절</button><br>
            <button class="back-button" onclick="window.location.href='returnpage'">목록으로 돌아가기</button>
        </div>
    </div>
</body>
</html>
