/* General styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

p {
    margin: 5px 0;
}

/* Shipping info section */
.shipping-info {
    margin-bottom: 20px;
}

.address-info {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Product info section */
.product-info {
    display: flex;
    flex-direction: column;

}

.product-info .product {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.product-details {
    display: flex;
    align-items: center;
}

.product-details img {
    max-width: 100px;
    margin-right: 10px;
}

.product-description {
    flex-grow: 1;
}

.product-description p {
    margin-bottom: 5px;
}

.price {
    font-weight: bold;
    color: #333;
}

/* Checkout button */
.checkout-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 20px;
}

.checkout-button:hover {
    background-color: #45a049;
}

/* Payment form */
.payment-form {
    display: none; /* Hidden by default, handled by JS */
}

/* Mobile-first and responsive styles */
@media (min-width: 600px) {
    .container {
        width: 70%;
        margin: 20px auto;
    }

    .product-details img {
        max-width: 120px;
    }
}
